* {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h4 {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-top: 5px;
}

.container {
  margin: 0 auto;
}

.card {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

a.list-group-item {
  color: #f6989c;
}

a.list-group-item:hover {
  color: #f06068;
}

.greenScore {
  color: green;
  margin: 0;
}

.redScore {
  color: red;
  margin: 0;
}

.btn {
  width: fit-content;
}
